Требования к проекту

1 Введение

  SmartSchedule - это расписание занятий, с возможностью точной установки
  количества лабораторных работ, создания расписания выполнения курсового проекта
  и уведомлением о приближающемся дедлайне по выполнению лабораторной работы.

2 Требования пользователя

  2.1 Программные интерфейсы

  Операционная система Android.Для приложения требуется наличие
  операционной системы Android версии 4.4 или выше.Язык программирования Java.

  2.2 Интерфейс пользователя

  Взаимодействие между программой и пользователем будет происходить с помощью
  графического интерфейса. В окне расписаний будет отображаться актуальное
  расписание для выбранной группы или преподавателя. В окне меню будет отображаться
  список доступных расписаний, а также настройки, помощь и ссылка на отправку отзыва.

  2.3 Характеристики пользователей

  Программой смогут воспользоваться все, кому необходимо расписание. Особых навыков
  не требуется, интерфейс прост в освоении.

  2.4 Предположения и зависимости

  Приложение будет иметь небольшой размер . Этот проект не требует особых затрат.

3 Системные требования

  3.1 Функциональные требования

  Мобильное устройство под управлением операционной системы Android версии 4.4 и
  выше.
  Доступ в интернет.
  Использование BSUIR Schedule API.
  Пользователь должен иметь возможность задать необходимые ему параметры для
  настройки частоты и начала оповещений о дедлайне. Также должна быть возможность
  добавить занятия в текущее расписание (например, переносы). Сохранить свое расписание.

  3.2 Нефункциональные требования

  Проектирование пользовательского интерфейса.
  Проектирование методов взаимодействия с внешним сервисом.
  Разработка и тестирование вышеперечисленных компонентов

  3.2.1 Удобство пользования

  В продукте должен быть понятный графический интерфейс (не должно быть незаметных
  или скрытых значков)

  3.2.2 Безопасность

  Исходные коды доступны всем желающим. Приложение не обеспечивает шифрования
  информации пользователя или иных методов защиты информации.
